html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
svg {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  min-width: 320px;
  font-family: "Muller", sans-serif;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
  width: 0;
  height: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.container {
  max-width: 1310px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 100px;
  padding-right: 100px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.title {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: var(--black);
}

.stop-scroll {
  overflow: hidden;
}
