@media (max-width: 1200px) {
  .header__container {
    position: relative;
    z-index: 1;
    flex-direction: column;
    align-items: flex-start;
  }

  .header__container::after {
    position: absolute;
    z-index: 1;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--podcastsGray);
  }

  .header__logo-block {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .header__logo {
    z-index: 2;
    max-width: 112px;
  }

  .header__content {
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    width: 100%;
    padding-top: 40px;
  }

  .header__nav-wrap {
    margin-right: 30px;
  }

  .subheader__menu {
    margin-right: 34px;
  }

  .subheader__item:not(:last-child) {
    margin-right: 25px;
  }

  .subheader__audio {
    margin-right: 0;
  }

  .subheader__audio-item {
    width: 150px;
  }

  .subheader__age {
    display: none;
  }

  /*hero*/

  .hero__content {
    padding: 60px 286px 45px 0;
    background-image: url("../img/microphone-1024.png");
  }

  .hero__text {
    margin-bottom: 20px;
  }

  /*podcasts*/

  .podcasts {
    padding-top: 92px;
  }

  /*broadcasts*/

  .broadcast {
    padding-bottom: 96px;
  }

  .broadcast__autors-wrap {
    max-height: 564px;
    margin-right: 15px;
  }

  .broadcast__list {
    width: calc(540 / 828 * 100%);
  }

  .broadcast__item {
    width: 47%;
    margin-bottom: 30px;
  }

  /*guests*/

  .guests__text {
    max-width: 536px;
  }

  .guests__item-content-wrap {
    columns: 3;
    padding-bottom: 20px;
    order: 10;
  }

  .guests__tabs {
    order: -10;
  }

  .tab-btn {
    margin-bottom: 14px;
  }

  .guests__tabs-content {
    max-width: 255px;
  }

  .guests__socials-item {
    margin-right: 35px;
  }

  .guests__photo-wrap {
    display: block;
    margin-bottom: 5px;
  }

  .guests__ether {
    display: inline-block;
    padding: 12px 18px;
    font-weight: var(--medium);
    font-size: 16px;
    line-height: 16px;
    color: var(--lightViolet);
    border: 2px solid var(--lightViolet);
    border-radius: 77px;
  }

  /*playlists*/

  .playlists {
    padding-bottom: 93px;
  }

  .playlists-container {
    flex-direction: column;
  }

  .playlists__content {
    max-width: 325px;
  }

  .playlists__checkbox-list {
    columns: 2;
    column-gap: 1em;
    margin-bottom: 10px;
    border-bottom: none;
  }

  .playlists__checkbox-item {
    margin-bottom: 25px;
  }

  .playlists__checkbox-wrap {
    padding-left: 42px;
  }

  .playlists__warning-wrap {
    display: none;
  }

  .playlists__warning-wrap--media {
    display: block;
  }

  .playlists__list {
    justify-content: space-between;
    padding-bottom: 10px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 37px;
    border-bottom: 1px solid var(--gray);
  }

  .playlists__item {
    display: flex;
    flex-direction: row;
    width: calc((100% - 60px) / 3);
    max-width: unset;
    margin-bottom: 30px;
  }

  .playlists__item--rus::after {
    right: unset;
    left: 0;
  }

  .playlists__item--eng::after {
    right: unset;
    left: 0;
  }

  .playlists__img-wrap {
    flex-shrink: 0;
  }

  .playlists__item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-height: 112px;
    padding: 10px 5px 10px 10px;
  }

  /*market*/

  .market {
    padding-bottom: 96px;
  }

  .market__container {
    align-items: center;
  }

  .market__img-wrap {
    display: block;
    width: calc(397 / 823 * 100%);
    max-height: 562px;
    padding-bottom: 30px;
  }

  .market__img-wrap::before {
    top: -15px;
    width: 25%;
  }

  .market__descr {
    width: calc(396 / 823 * 100%);
    max-width: 396px;
  }

  /*about*/

  .about__form {
    width: 100%;
  }

  .about__input-wrap {
    width: calc((100% - 30px) / 2);
  }

  .about__input {
    width: 100%;
  }

  .about__textarea {
    width: 100%;
  }

  .about__descr {
    padding-right: calc(285 / 823 * 100%);
    margin-bottom: 27px;
    background-image: url("../img/about-frame1024.svg");
  }

  .about__slider-wrap {
    margin-bottom: 38px;
  }

  .swiper-button-next {
    top: 39%;
    right: -67px;
  }

  .swiper-button-prev {
    top: 39%;
    left: -67px;
  }
}

@media (max-width: 962px) {
  .container {
    padding-right: 114px;
    padding-left: 114px;
  }

  .hamburger {
    display: inline-block;
    z-index: 10;
    pointer-events: auto;
  }

  .header__item {
    display: block;
    margin-right: 20px;
  }

  .header__item:not(:last-child) {
    margin-bottom: 64px;
  }

  .header__menu {
    display: block;
    columns: 2;
    column-gap: 10px;
    width: 100%;
  }

  .header__nav-wrap {
    position: relative;
    position: absolute;
    z-index: 9;
    top: 58px;
    left: 0;
    height: 100vh;
    pointer-events: auto;
    transform: translateY(-200%);
    /* transition: transform 0.4s ease-in-out; */
  }

  .header__nav-wrap::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 115px;
    height: 300px;
    background-image: url("../img/spiral.svg");
    background-repeat: no-repeat;
    background-position: top -114px;
  }

  .header__nav-wrap::before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 150px;
    width: 115px;
    height: 300px;
    background-image: url("../img/spiral.svg");
    background-repeat: no-repeat;
    background-position: top -114px;
  }

  .header__nav {
    max-width: unset;
    width: 100vw;
    height: 100%;
    margin-right: 0;
    padding-top: 106px;
    padding-left: 114px;
    padding-right: 60%;
    padding-bottom: 0;
    background-color: var(--menuGray);
  }

  .header__nav--active {
    transform: translateY(0);
  }

  .subheader__nav {
    width: 100%;
    justify-content: space-between;
    padding: 15px 0;
  }

  .subheader__menu {
    margin-right: 0;
  }

  .subheader__item {
    margin-right: 25px;
  }

  .subheader__audio {
    display: none;
  }

  .subheader__audio-btn--media {
    display: block;
    flex-shrink: 0;
    margin: 0;
  }

  /*hero*/

  .hero__content {
    padding: 57px 0 48px 0;
    background-image: none;
  }

  /*podcasts*/

  .podcasts__title {
    margin-bottom: 28px;
  }

  .podcasts__item {
    width: 100%;
  }

  /* broadcasts*/

  .broadcast {
    position: relative;
    padding-bottom: 28px;
  }

  .broadcast__content {
    flex-direction: column;
  }

  .broadcast__list {
    justify-content: space-between;
    width: 100%;
    max-width: 540px;
    margin-bottom: 60px;
    margin-top: 45px;
  }

  .broadcast::after {
    content: "";
    position: absolute;
    bottom: 157px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--lightGray);
  }

  .broadcast__item {
    flex-grow: 0;
    width: calc(255 / 540 * 100%);
    margin-right: 0;
  }

  .broadcast__card-content {
    max-height: 112px;
  }

  .broadcast__img-wrap {
    height: auto;
    max-height: 148px;
    margin-bottom: 0;
  }

  .broadcast__more svg {
    flex-shrink: 0;
  }

  .broadcast__archive {
    display: none;
  }

  .broadcast__archive--media {
    display: block;
    align-self: center;
    max-width: 365px;
    padding-top: 0;
    padding-left: 88px;
    margin-left: 30px;
    background-position: left center;
  }

  .broadcast__btn {
    padding: 10px 50px;
    margin-bottom: 8px;
  }

  /*guests*/

  .guests__content {
    flex-direction: column;
  }

  .accordion-container {
    width: 100%;
    margin-bottom: 50px;
  }

  .guests__item-content-wrap {
    padding-bottom: 4px;
  }

  .tab-btn {
    margin-bottom: 28px;
  }

  .guests__tabs-content {
    width: 100%;
    max-width: 100%;
  }

  .guests__photo-wrap {
    margin-bottom: 10px;
  }

  .guests__socials {
    margin-bottom: 10px;
  }

  .guests__descr {
    max-width: 398px;
  }

  .guests__ether {
    padding: 10px 18px;
  }

  .guests__tabs-item {
    width: 100%;
  }

  /*playlists*/

  .playlists__genres {
    margin-bottom: 10px;
  }

  .playlists__checkbox-list {
    margin-bottom: 15px;
  }

  .playlists__checkbox-item {
    margin-bottom: 40px;
  }

  .playlists__item {
    display: flex;
    flex-direction: row;
    width: calc((100% - 30px) / 2);
    max-width: unset;
    margin-bottom: 31px;
  }

  /*market*/

  .market {
    padding-top: 50px;
  }

  .market__container {
    flex-direction: column;
  }

  .market__img-wrap {
    width: 100%;
    height: auto;
    max-height: unset;
    padding-bottom: 0;
    margin-bottom: 42px;
  }

  .market__title {
    max-width: 440px;
  }

  .market__descr {
    align-self: flex-start;
    width: 100%;
    max-width: 100%;
  }

  /*about*/

  .about__descr-container {
    padding-left: 0;
  }

  .about__descr {
    padding-right: 0;
    padding-left: 114px;
    padding-bottom: 142px;
    margin-bottom: 27px;
    background-image: url("../img/about-frame768.svg");
    background-position: left bottom;
  }

  .about__slider-wrap {
    margin-bottom: 29px;
  }

  .about__input {
    margin-bottom: 0;
  }

  .about__input-wrap {
    width: 100%;
    margin-bottom: 28px;
  }

  .swiper-button-next {
    top: 35%;
  }

  .swiper-button-prev {
    top: 35%;
  }

  /*footer*/

  .footer {
    padding-bottom: 90px;
  }

  .footer__container {
    flex-direction: column;
    align-items: center;
  }

  .footer__logo{
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .footer__socials-list {
    padding-left: 5px;
    padding-right: 5px;
    justify-content: space-between;
  }

  .footer__socials-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 75px;
  }

  .footer__socials-svg {
    width: 36px;
    height: 36px;
  }

  .footer__nav {
    width: 100%;
    align-self: flex-start;
  }

  .footer__nav-list {
    padding-top: 0;
    column-gap: 10.5em;
  }

  .footer__nav-item {
    margin-right: 0;
  }

  .footer__nav-item:not(:nth-child(3n)) {
    margin-bottom: 28px;
  }
}

@media (max-width: 767px) {
  .container {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 32px;
    padding-left: 32px;
  }

  .header__container::after {
    height: 55px;
  }

  .header__content {
    padding-top: 13px;
    padding-bottom: 9px;
  }

  .search-form {
    z-index: 10;
    right: 0;
    width: 81vw;
    height: 45px;
  }

  .search-form__input {
    height: 34px;
  }

  .header__account-btn {
    display: none;
  }

  .header__logo-block {
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .header__logo {
    max-width: 87px;
  }

  .header__account-btn--media {
    display: block;
    z-index: 2;
    padding: 7px 23px;
  }

  .header__search-btn {
    margin-right: 0;
  }

  .header__nav-wrap::after{
    width: 0;
    height: 0;
  }

  .header__nav-wrap::before{
    width: 0;
    height: 0;
  }

  .header__nav {
    min-width: 320px;
    padding: 61px 32px 0 32px;
    height: 50vh;
    overflow-y: scroll;
  }

  .header__item:nth-child(4){
    margin-top: 30px;
  }

  .subheader__menu {
    display: none;
  }

  .subheader__audio-btn--media {
    display: none;
  }

  .subheader-menu--media {
    display: block;
    max-width: unset;
    margin: 0;
    width: 100vw;
    min-width: 320px;
    height: 50vh;
    columns: 2;
    padding: 30px 32px;
    background-color: white;
    overflow-y: scroll;
  }

  .subheader__item{
    margin-bottom: 30px;
  }

  .subheader__nav {
    padding: 0;
  }

  .subheader__accordion {
    display: block;
    width: 100%;
  }

  .header__accordion-btn {
    width: 100%;
    padding: 12px 32px;
    margin-bottom: -1px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: var(--violet);
    border-bottom: 1px solid var(--lightGray);
    transition: color 0.2s ease-in-out;
  }

  .header__accordion-btn:hover {
    color: var(--lightViolet);
  }

  .header__accordion-svg {
    vertical-align: middle;
    max-width: 15px;
    transform: rotate(0);
    transition: transform 0.6s ease-in-out;
  }

  .is-active .header__accordion-svg {
    transform: rotate(225deg);
  }

  .header__ac-title {
    margin: 0;
  }

  .accordion-container {
    margin-bottom: 0;
  }

  .header__acordion-content {
    overflow: hidden;
  }

  .subheader__audio-acordion {
    width: 100%;
    justify-content: center;
    margin-top: 9px;
  }

  .subheader__audio-item {
    flex-direction: column;
    padding-bottom: 6px;
  }

  .subheader__audio-item:first-child {
    border-left: none;
  }

  .subheader__audio-item:last-child {
    border-right: none;
  }

  .subheader__audio-btn {
    align-self: flex-start;
    margin-bottom: 5px;
  }

  .subheader__audio-descr {
    flex-direction: column;
  }

  /*hero*/

  .hero {
    padding-top: 42px;
    padding-bottom: 40px;
  }

  .hero__content {
    padding: 0;
  }

  .hero__title {
    font-size: 32px;
    line-height: 100%;
    margin-bottom: 8px;
  }

  .hero__title--italic {
    font-size: 32px;
    line-height: 100%;
  }

  .hero__text {
    font-size: 14px;
    line-height: 150%;
  }

  .hero__link {
    padding: 17px 45px;
    font-size: 16px;
    line-height: 16px;
  }

  /*podcsts*/

  .podcasts {
    padding-top: 54px;
    padding-bottom: 54px;
  }

  .podcasts__title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 100%;
  }

  .podcasts__list {
    margin-bottom: 0;
  }

  /*broadcasts*/

  .broadcast {
    padding-top: 54px;
    padding-bottom: 29px;
  }

  /*playlists*/

  .playlists {
    padding-top: 54px;
    padding-bottom: 48px;
  }

  /*about*/

  .about__descr-container {
    padding-left: 32px;
  }

  .about__descr {
    padding-right: 0;
    padding-left: 0;
    background-image: none;
  }

  .about__slide-img-wrap {
    height: auto;
    max-height: unset;
  }

  .swiper-button-prev {
    display: none;
  }

  .swiper-button-next {
    display: none;
  }

  /*footer*/

  .footer {
    padding-top: 51px;
    padding-bottom: 20px;
  }

  .footer__socials-list {
    max-height: 90px;
  }

  .footer__container {
    position: relative;
    position: static;
    z-index: -10;
  }

  .footer__nav {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .footer__nav::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: -32px;
    right: -32px;
    bottom: 0;
    background-color: var(--black);
  }

  .footer__nav-list {
    max-width: 270px;
    columns: 2;
    column-gap: 5em;
  }

  .footer__nav-item:not(:nth-child(3n)) {
    margin-bottom: 19px;
  }

  .footer__nav-item:nth-child(3n) {
    margin-bottom: 15px;
  }

  .footer__nav-link {
    font-size: 12px;
    line-height: 12px;
  }
}

@media (max-width: 610px) {
  .podcasts__item {
    height: auto;
    margin-bottom: 29px;
  }

  .podcasts__date {
    position: absolute;
    bottom: unset;
    top: 0;
  }

  .podcasts__descr-wrap {
    padding: 13px 15px;
  }

  .podcasts__play-btn {
    max-width: 36px;
  }

  .podcasts__item:nth-child(n + 5) {
    display: none;
  }

  .podcasts__item--visible:nth-child(n + 5) {
    display: block;
  }

  .podcasts__content-wrap {
    flex-direction: column;
  }

  .podcasts__img-wrap {
    height: auto;
  }

  .podcasts__name {
    font-size: 16px;
    line-height: 16px;
  }

  .podcasts__autor {
    font-size: 12px;
    line-height: 12px;
  }

  .podcasts__reaction {
    padding: 5px 34px;
    border-top: 1px solid var(--lightGray);
  }

  .podcasts__more {
    padding: 15px 30px;
    font-size: 16px;
    line-height: 16px;
  }

  /* broadcasts*/

  .broadcast::after {
    bottom: 163px;
  }

  .broadcast__title {
    display: block;
    font-size: 24px;
    line-height: 100%;
  }

  .broadcast__select-label {
    font-size: 12px;
    line-height: 12px;
  }

  .broadcast__list {
    justify-content: space-between;
    padding-bottom: 0;
    margin-top: 24px;
    margin-bottom: 30px;
  }

  .broadcast__item {
    width: 44%;
    height: auto;
  }

  .broadcast__img-wrap {
    display: block;
    height: auto;
  }

  .broadcast__card-content {
    margin-top: -5px;
    min-height: 99px;
    padding: 10px;
  }

  .broadcast__name {
    font-size: 12px;
    line-height: 12px;
  }

  .broadcast__announce {
    font-size: 9px;
    line-height: 9px;
  }

  .broadcast__more {
    font-size: 12px;
    line-height: 12px;
  }

  .broadcast__archive--media {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 0;
    background-image: url("../img/broadcast-mic.png");
    background-size: contain;
  }

  .broadcast__archive-hint {
    margin-bottom: 7px;
    font-size: 14px;
    line-height: 150%;
  }

  .broadcast__btn {
    max-width: 110px;
    padding: 8px 31px;
    margin-bottom: 0;
  }

  /*guests*/

  .guests {
    padding-top: 54px;
    padding-bottom: 54px;
  }

  .guests__title {
    font-size: 24px;
    line-height: 100%;
  }

  .guests__enumeration {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 150%;
  }

  .guests__text {
    font-size: 14px;
    line-height: 160%;
    margin-bottom: 28px;
  }

  .guests__accordion {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .acordeon__item--historians {
    order: -1;
  }

  .acordeon__item--blogers {
    display: none;
  }

  .guests__item-content-wrap {
    padding: 20px 0 0;
    margin-right: -18px;
    margin-bottom: -16px;
    columns: 2;
    column-gap: 1em;
  }

  .acordeon__btn {
    padding: 18px 30px 17px 0;
    font-size: 16px;
    line-height: 16px;
  }

  .acordeon__btn::after {
    width: 30px;
    height: 30px;
  }

  .tabs__item {
    margin-right: 18px;

  }

  .tab-btn {
    max-width: 80px;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 110%;
  }

  .guests__socials-item {
    margin-right: 29px;
  }

  .guests__socials-link svg {
    width: 30px;
    height: 30px;
  }

  .guests__ether {
    padding: 9px 14px;
  }

  /*playlists*/

  .playlists-container {
    padding-right: 0;
  }

  .playlists__content {
    width: 100%;
    max-width: unset;
    margin-right: 0;
  }

  .playlists__title {
    margin-bottom: 18px;
    font-size: 24px;
    line-height: 100%;
  }

  .playlists__genres {
    margin-bottom: 6px;
    font-size: 12px;
    line-height: 12px;
  }

  .playlists__checkbox-container {
    padding-left: 30px;
    padding-right: 1px;
  }

  .playlists__checkbox-list {
    columns: unset;
    column-gap: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
    overflow-x: scroll;
    border-bottom: none;
  }

  .playlists__checkbox-list::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
  }

  .playlists__checkbox-item {
    margin-bottom: 0;
    margin-right: 19px;
    flex-shrink: 0;
  }

  .playlists__checkbox-wrap {
    padding-left: 0;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
  }

  .playlists__radio-name {
    color: var(--violet);
    transition: color 0.2s ease-in-out;
  }

  .playlists__checkbox--default~.playlists__checkbox--custom {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--violet);
    border-radius: 77px;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
  }

  .playlists__checkbox--default:checked~.playlists__checkbox--custom {
    background-color: var(--violet);
  }

  .playlists__checkbox--default:checked~.playlists__radio-name {
    color: white;
  }

  .playlists__list {
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 0;
    padding-right: 32px;
    border-bottom: none;
    margin-bottom: 5px;
  }

  .playlists__item {
    display: flex;
    flex-direction: column;
    width: 45%;
    width: calc((100% - 30px) / 2);
    height: auto;
    max-height: unset;
    margin-bottom: 30px;
  }

  .playlists__item--rus::after {
    right: 0;
    left: unset;
  }

  .playlists__item--eng::after {
    right: 0;
    left: unset;
  }

  .playlists__item-content {
    justify-content: flex-start;
    padding: 9px 8px;
  }

  .playlists__img-wrap {
    display: block;
    width: 100%;
    max-width: unset;
    max-height: unset;
    margin-bottom: -5px;
  }

  .playlists__band {
    font-size: 12px;
    line-height: 12px;
  }

  .playlists__band-album {
    font-size: 9px;
    line-height: 9px
  }

  .playlists__warning {
    font-size: 12px;
    line-height: 16px;
  }

  .playlists__warning-wrap--media {
    padding-top: 30px;
    margin-right: 32px;
    border-top: 1px solid var(--gray);
  }

  .playlists__warning-company {
    font-size: 12px;
    line-height: 22px;
  }

  /*market*/

  .market {
    padding-bottom: 52px;
  }

  .market__img-wrap {
    padding-bottom: 0;
    margin-bottom: 30px;
  }

  .market__title {
    padding-bottom: 21px;
    font-size: 24px;
    line-height: 100%;
  }

  .market__text {
    font-size: 14px;
    line-height: 22px;
  }

  .market__text:last-child {
    margin-bottom: 15px;
  }

  .market__price {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 24px;
  }

  .market__link {
    padding: 13px 15px;
    font-size: 16px;
    line-height: 100%;
  }

  /*about*/

  .about {
    position: relative;
    padding-top: 56px;
    padding-bottom: 54px;
  }

  .about__title {
    font-size: 24px;
    line-height: 100%;
  }

  .about__pre-title {
    margin-bottom: 7px;
    font-size: 14px;
    line-height: 150%;
  }

  .about__text {
    font-size: 14px;
    line-height: 22px;
  }

  .about__descr {
    padding-bottom: 0;
    margin-bottom: 27px;
  }

  .about__slide-img-wrap {
    margin-bottom: 10px;
    max-height: unset;
  }

  .about__slide-descr {
    padding-top: 0;
  }

  .about__slide-name {
    padding-right: 10px;
    margin-bottom: 3px;
    font-size: 14px;
    line-height: 18px;
  }

  .about__slide-text {
    font-size: 12px;
    line-height: 16px;
  }

  .about__swiper-container {
    padding-right: 0;
  }

  .about__slider-wrap {
    margin-bottom: 15px;
  }

  .about__textarea {
    padding: 16px 23px;
    font-size: 16px;
    line-height: 16px;
    border-radius: 20px;
  }

  .about__textarea::placeholder {
    font-size: 16px;
    line-height: 16px;
  }

  .about__input-wrap {
    margin-bottom: 28px;
  }

  .about__input-wrap:last-child {
    margin-bottom: 25px;
  }

  .about__input {
    padding: 16px 23px;
    font-size: 16px;
    line-height: 16px;
  }

  .about__input::placeholder {
    font-size: 16px;
    line-height: 16px
  }

  .about__form-btn {
    padding: 17px 44px;
    margin-bottom: 26px;
    font-size: 16px;
    line-height: 16px;
  }

  .about__form-label {
    padding-left: 20px;
    font-size: 9px;
    line-height: 9px;
  }

  /*footer*/

  .footer__nav {
    justify-content: flex-start;
  }

  .footer__socials-list {
    max-width: 150px;
    padding-right: 0;
    padding-left: 0;
    margin-left: 5px;
  }

  .footer__socials-item {
    display: block;
    min-width: 36px;
  }
}
